.btnGuardarIcon{	
	background-image:url('../imagenes/document_save.png');
}
.btnEliminarIcon{
	background-image:url('../imagenes/deletered.png');
}
.btnNuevoIcon{
	background-image:url('../imagenes/new.png');
}
.btnRecargarIcon{

	background-image:url('../imagenes/Human-O2/16x16/actions/new-view-refresh.png');
}
.btnSwitchIcon{
	background-image:url('../imagenes/fatcow/32x32/application_view_list.png');
}
.btnEditarIcon{
	background-image:url('../imagenes/pencil3.png');
}
.btnVerLista_32_icon{
	background-image:url('../imagenes/woofunction-icons/window_app_list_32.png');	
}
/*

btnGuardarIcon

*/
/*
.custom_tree .x-tree-node-icon {
	width:auto !important;
	height:auto !important;
}

.x-tab-strip-inner .x-tab-strip-text{
	background-size:16px !important;	
}
*/
.btnGuardarIcon_16{
	background-image:url('../imagenes/Human-O2/16x16/actions/document-save.png');
}
.btnEliminarIcon_16{
	background-image:url('../imagenes/fatcow/16x16/cross.png');
}
.btnNuevoIcon_16{
	/*background-image:url('../imagenes/fatcow/16x16/page_white.png');*/
	background-image:url('../imagenes/Human-O2/16x16/stock/stock_new-template.png');
	
}
.btnRecargarIcon_16{
	background-image:url('../imagenes/fatcow/16x16/old_view_refresh.png');
}
.btnSwitchIcon_16{
	background-image:url('../imagenes/fatcow/16x16/gnome_session_switch.png');
}
.btnEditarIcon_16{
	background-image:url('../imagenes/Human-O2/16x16/actions/document-edit.png');
}

/*	32	*/
.x-form-icono-trigger-32{
	background-image:url('../imagenes/Human-O2/32x32/actions/gnome-searchtool.png') !important;
	/* position:relative !important; */
	height:30px !important;
	width:32px !important;
	top: -1px !important;
}

.x-form-filtro-busqueda-32 .x-form-field-trigger-wrap{
	margin-right:10px;
}

.x-form-filtro-busqueda-32 img{
	background-position:0 0 !important;

}

.x-small-editor .x-form-text-search-32{
	height: 31px;
	/* Estos estilos tambien estan en el designer */
	position:relative;
	font-family: arial;
    font-size: 15px;
}