

.btnMover{	
	background-image:url('../imagenes/Human-O2/16x16/actions/edit-redo.png');
}
.btnUp_16{	
	background-image:url('../imagenes/Human-O2/16x16/actions/old-go-up.png');
}
.btnDown_16{	
	background-image:url('../imagenes/Human-O2/16x16/actions/old-go-down.png');
}